html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  background-color: #f7f7f7;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.App {
  font-family: 'Montserrat', sans-serif;
  color: #424242; }

.container {
  background-color: white;
  box-shadow: 1px 2px 6px #464646;
  padding: 15px;
  margin: 8px 0; }

.app-container {
  box-sizing: border-box;
  margin: auto;
  width: 95%; }

.app-left, .app-right {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding: 1vw; }

@media only screen and (max-width: 790px) {
  .app-left, .app-right {
    width: 100%; } }

.header-container {
  width: 100vw;
  height: 120px;
  display: flex; }

.header-content {
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  vertical-align: bottom; }
  .header-content img {
    margin: auto 20px;
    height: 80px;
    width: auto; }
  .header-content h1 {
    margin: auto;
    text-transform: uppercase;
    font-size: 130%;
    padding-top: 46px;
    font-family: 'Dancing Script', cursive; }
  .header-content span {
    font-weight: bolder;
    font-size: 180%; }

@media only screen and (max-width: 430px) {
  .header-content h1 {
    text-transform: uppercase;
    font-size: 80%; }
  .header-content img {
    height: 70px; } }
