@import "../../App.scss";

.review-snapshot-container {
    width: 50%;
}

.review-snapshot-content {
    width: 50%;
    height: auto;
}

.review-snapshot-highest-container {
}

.review-snapshot-high-reviews {
}

.review-snapshot-lowest-container {
}

.review-snapshot-low-reviews {
}
